:root {
    --clr-primary: #BABEE5;
    --clr-secondary: #edaddf;
    --clr-accent1: #05c0eb;
    --clr-accent2: #6397ba;
}

body {
    font-family: "Roboto Flex", serif;
    font-weight: 100;
    color: var(--clr-primary);
    background-color: rgb(84, 84, 84);
}

h1 {
    font-weight: 800;
    color: var(--clr-primary);
    background-color: #000000;
    padding: 25px;
    position: absolute;
	font-size: 1.5rem;
    top: 20px;
    left: 200px;
}

h2 {
    font-family: "Roboto Flex", serif;
    font-weight: 800;
    color: var(--clr-accent1);
}

a {
    text-decoration: none
}


.hero {
    position: relative;
}

article {
    position: absolute;
    top: 150px;
    left: 150px;
    color:#000000;
}



footer {
    color:#000000
}


